h1{
    color:black;
    border:solid;
    font-style:oblique;
    font-size: 2cm;
    
}
h2{
    color:black;
    border:solid;
    font-size: 0.5cm;
    font-style:oblique;
}
p{
    color:black;
    border:solid;
    font-style:oblique;
}

*{
    background-color:blanchedalmond;  
}
.img {
    background-color:burlywood;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer {
    background-color:burlywood ;
    padding-left: 5cm;
    padding-right: 5cm;

} 